body {
  margin: 0;

  font-family: 'open sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: red;
  border-bottom: 4px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.generation-list {
  padding: 10px 20px;
}

.generation-list ul {
  color: white;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.generation-list ul li {
  flex: auto;
}

.body {
  display: flex;
}

.detail {
  width: 75vw;
  height: 90vh;
  background-color: #EEE;
}

.liste {
  width: 25vw;
  height: 90vh;
  background-color: green;
}

.liste input {
  width: 100%;
  height: 4vh;
  border: none;
  border-bottom: 1px solid #AAA;
  border-radius: 4px;
  padding-left: 10px;
}

.liste ul {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 86vh;
}

.liste li {
  list-style: none;
  width: 100%;
  background-color: white;
  cursor: pointer;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.liste li:nth-child(even) {
  background-color: #CCC;
}

.liste li:hover {
  background-color: #777777;
  transition: 0.15s;
}

.thumbs {
  width: 26px;
  height: 26px
}